body {
    background: #f6f6f6;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: #f2f2f2;
    boder-top:1px #f5f5f5 solid;
    opacity: 0.9;
}

.footer .btnl {
    width: 25%;
    color: #000;
    float: left;
    line-height: 50px;
    text-align: center;
}

.list {
    width: 100%;
    height: 380px;
    margin-bottom: 10px;
    background: #fff;
}

.list .image {
    width: 100%;
    height: 250px;
    overflow-y: hidden;
    position: relative;
}

.list .title {
    position: absolute;
    right: 5px;
    bottom:10px;
    color: #fff;
    font-size:0.9em;
}

.list img {
    width: 100%;
    max-height: 250px;
}

.tool {
    width: 100%;
    height:50px;
    position: relative;
    line-height:50px;
}
.head{width:20px;height:20px;border-radius: 20px;}
.mingdan{width:90%;;line-height:20px;padding:2px;margin: 0 auto;background:#f5f5f5;margin-left:10px;margin-top: 5px;margin-bottom: 5px;border-radius: 5px;font-size:0.8em;color:#989898;}

.active{color:red!important;}
.box {
    display: inline-block;
    width: 33%;
    height: 100px;
    float: left;
    text-align: center;
    background:#fff;
}

.classtitle {
    width: 100%;
    clear: both;
    text-indent: 1em;
    color: #000;
    background: #f8f8f8;
    border-left:2px red solid;
    margin-top:10px;
}

.box img {
    width: 50px;
    height:50px;
}
.picbox {
  width: 50%;
  height: 220px;
  float: left;
  text-align: center;
  margin-top: 5px;
  position: relative;
}

.picbox img {
  width: 98%;
  height: 180px;
  display: block;
  margin: 0 auto;
}

.picname {
  position: relative;
  color: #666;
  font-size: 0.9em;
}

.love {
  position: absolute;
  bottom: 0px;
  left: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.love img {
  vertical-align: middle;
}

.love img {
  width: 30px;
  height: 30px;
}
.rank{position:absolute;width:40px;height:40px;border-radius: 40px;line-height:40px;background:#fff;color:#666;text-align: center;font-size:1.2em;left:10px;top:5px;opacity: 0.8;}
