body {
  background: #f5f5f5!important;
}
.prism-controlbar	{display: none!important;}
.prism-player{z-index:1;position: absolute;left:0%;display:none;}
.image{position: relative;background:#000;text-align:center;width:100%;
margin:0 auto;max-height:500px;overflow-y: hidden;}
.pic{vertical-align:middle;max-width:100%;margin:0 auto;border-radius: 0px;}
.imagebg{background: #fff;}
.videocontroll{vertical-align: middle;width:30px;height:30px;z-index:3;left:10px;bottom:5px;position: absolute;}
.content {
  min-height: 400px;
}
.nav{
  font-size: 1em;
  height:20px;
  line-height: 20px;
  width:80px;
  text-align: center;
  display: inline-block;


}


.list {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
}

.list .info {
  height: 50px;
}
.list .info .head{
  width:55px;
  height:55px;
  float:left;
  position: relative;
  margin-left: 10px;
}
.list .info .head .global{
  position: absolute;
  bottom:0px;
  height:12px;
  left:0px;
  width:100%;
  font-size:0.5em;
  background:url(../image/global.png) no-repeat;
  text-align: center;
  color:#fff;
}

.list .info .head img {
  margin-top: 4px;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  vertical-align: middle;
}

.list .info .username {
  margin-left: 10px;
  margin-top: 5px;
  float: left;
  white-space:nowrap;
  overflow: hidden;
  color: #333;
  display:inline-block;
  max-width:200px;
}
.mp{
  display: block;
  color:#ccc;
  font-size:0.8em;
}

.list .info .pub_time {
  float: right;
  font-size:0.8em;
  margin-top: 15px;
  margin-right: 10px;
  color: #333;
}

.list .image {
  margin-top: 10px;
  height: 100%;
  clear: both;
  overflow-y: hidden;
}

.list .message {
  width: 95%;
  margin:0 auto;
  color:#333;
  padding-bottom:5px;
}
.clipselect{
  background:#c5c5c3;
}
.list .tip {
  margin-top: 5px;
  height: 25px;
  width: 100%;
  margin-bottom: 5px;
}

.list .tip .tool {
  float: right;
  width: 60px;
  margin-right: 10px;
}

.zan {
  font-size: 0.8em;
  color: #777;
  position: absolute;
  right:0px;
}

.dingwei {
  float: left;
  color:#333;
  font-size:0.8em;
  margin-left: 10px;
}
#clip{
  width:60px;
  background: #000;
  height:30px;
  line-height: 30px;
  border-radius: 4px;
  position: absolute;
  display: none;
  color:#fff;
  left:30%;
  top:200px;
  z-index:999;
  text-align: center;
}
#cliparrow{
width:20px;
height:20px;
transform:rotate(45deg);
-ms-transform:rotate(45deg); 	/* IE 9 */
-moz-transform:rotate(45deg); 	/* Firefox */
-webkit-transform:rotate(45deg); /* Safari å’Œ Chrome */
-o-transform:rotate(45deg); 	/* Opera */
background:#000;
position: absolute;
left:20px;
top:-10px;
z-index:1;
}
#cliptext{width:60px;position: absolute;z-index:2;}
.reply {
  width: 95%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 4px;
  font-size: 0.9em;
  color: #aea9b0;
  margin-bottom: 5px;
}

.replyname {
color:#333;
}

.input_text {
  margin-left: 10px;
  width: 90%;
  margin-top: 5px;
  height: 30px;
  border: none;
  background: #fff;
}

.replybtn {
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  border: 1px #ccc solid;
  background: #fff;
  color: #666;
}

.comment {
  color: #746e7c;
  width: 100%;
  clear: both;
  font-size: 0.9em;
}

.commentlist {
  width: 95%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 4px;
  font-size: 0.9em;
  color: #ccc;
  background:#fff;
  margin-bottom: 5px;
}


.qd_left {
  width: 49%;
  float: left;
}

.qd_right {
  text-align: center;
  width: 49%;
  height: 80px;
  margin-top: 10px;
  background: #fff;
  color: #000;
  float: left;
}

.qd {
  width: 100%;
  max-height: 500px;
  line-height: 50px;
  color: #fff;
  font-size: 1.2em;
  background:#fff;
  position: relative;
  text-align: center;
  overflow-y: hidden;
}

.qd img{width:100%;}

.jingxuan {
  width: 100%;
  height: 150px;
  line-height: 50px;
  color: #fff;
  font-size: 1.2em;
  position: relative;
  text-align: center;
}

.toolimage {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  position: absolute;
  top:-3px;
}

.rq {
  width:100%;
  height: 60px;
  background: #fff;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  font-size: 1.5em;
  line-height: 60px;
  font-weight: 700;
  color: #000;
}
