body {
  background: #f5f5f5;
}
.image{position: relative;background:#000;text-align:center;}
.videocontroll{vertical-align: middle;width:80px;height:80px;z-index:999;left:42%;top:35%;position: absolute;}
.content {
  min-height: 400px;
}

.nav{
  color: #000;
  font-size: 0.8em;
height:30px;
line-height: 20px;
  width:60px;
  display: inline-block;
  margin-right: 5px;
}



.list {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
}

.list .info {
  height: 50px;
}

.list .info .head img {
  margin-top: 4px;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

.list .info .username {
  margin-left: 10px;
  margin-top: 5px;
  float: left;
  white-space:nowrap;
  overflow: hidden;
  color: #000;
}
.mp{
  display: block;
  color:#ccc;
  font-size:0.9em;
}

.list .info .pub_time {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  color: #666;
}

.list .image {
  margin-top: 10px;
  height: 100%;
  clear: both;
  overflow-y: hidden;
}

.list .message {
  width: 95%;
  padding-left: 10px;
}
.clipselect{
  background:#c5c5c3;
}
.list .tip {
  margin-top: 5px;
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
}

.list .tip .tool {
  float: right;
  width: 60px;
  margin-right: 10px;
}

.zan {
  font-size: 0.8em;
  color: #777;
  position: absolute;
  right:0px;
}

.dingwei {
  float: left;
  color:#777;
  font-size:0.8em;
  margin-left: 10px;
}
#clip{
  width:60px;
  background: #000;
  height:30px;
  line-height: 30px;
  border-radius: 4px;
  position: absolute;
  display: none;
  color:#fff;
  left:30%;
  top:200px;
  z-index:999;
  text-align: center;
}
#cliparrow{
width:20px;
height:20px;
transform:rotate(45deg);
-ms-transform:rotate(45deg); 	/* IE 9 */
-moz-transform:rotate(45deg); 	/* Firefox */
-webkit-transform:rotate(45deg); /* Safari å’Œ Chrome */
-o-transform:rotate(45deg); 	/* Opera */
background:#000;
position: absolute;
left:20px;
top:-10px;
z-index:1;
}
#cliptext{width:60px;position: absolute;z-index:2;}
.reply {
  width: 95%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 4px;
  font-size: 0.9em;
  color: #aea9b0;
  margin-bottom: 10px;
}

.replyname {
color:#000;
}

.input_text {
  margin-left: 10px;
  width: 90%;
  margin-top: 5px;
  height: 30px;
  border: none;
  background: #fff;
}

.replybtn {
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  border: 1px #ccc solid;
  background: #fff;
  color: #666;
}

.comment {
  color: #746e7c;
  width: 100%;
  clear: both;
  font-size: 0.9em;
}

.commentlist {
  width: 95%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 4px;
  font-size: 0.9em;
  color: #989898;
  background:#f8f8f8;
  margin-bottom: 5px;
}

.pub_time {
  font-size: 0.8em;
  color: #ccc;
}

.qd_left {
  width: 49%;
  float: left;
}

.qd_right {
  text-align: center;
  width: 49%;
  height: 80px;
  margin-top: 10px;
  background: #fff;
  color: #000;
  float: left;
}

.qd {
  width: 100%;
  height: 150px;
  line-height: 50px;
  color: #fff;
  font-size: 1.2em;
  background:#fff;
  position: relative;
  text-align: center;
  overflow-y: hidden;
}

.qd img{width:100%;}

.jingxuan {
  width: 100%;
  height: 150px;
  line-height: 50px;
  color: #fff;
  font-size: 1.2em;
  position: relative;
  text-align: center;
}

.toolimage {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  position: absolute;
  top:-3px;
}

.rq {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 1.3em;
  font-weight: 700;
  background: #fff;
  color: #000;
}
