body{background-color:#faefc2;}
.wrap{max-width:1024px;}
header{width:100%;background-color:#fdf8e4;padding:.7em 2%;}
header button{border:1px solid #d6c784;border-radius:0.5em;font-size:0.9rem;}
header button a{display:block;width:100%;padding:.2em 1em .2em 2.8em;color:inherit;text-decoration:none;background:url(../img/add.png) no-repeat left 1em center/20px;background-color:#ffd581;}
.main{width:100%;text-align:left;padding:8px 1%;}
.main ul{width:100%;}
.main li{width:100%;padding:3px 2%;margin:8px 0;display:flex;justify-content:space-between;flex-flow:row wrap; display:-webkit-flex;-webkit-justify-content:space-between;-webkit-flex-flow:row wrap; }
.main li a{width:100%;color:inherit;text-decoration:none;}
.s-txt{display:block;width:100%;padding:0 3% 0 0;font-size:1rem;border:0 solid red;}

.main li span{display:inline-block;margin-left:1%;font-size:0.8rem;color:#7e7e7d;border:0 solid red;}
.main li span:first-of-type{width:80%; }
/*.main li span.wating{color:#494846;}*/
.done{color:#e52013 }
.main li.worked{background-color:#f9e8a2;border:1px solid #c8c082;border-radius:5px;padding-top:8px;padding-bottom:8px;}
.main li.worked span:last-child{color:#e52013;}
span.solved{position:absolute;top:2px;left:80%;width:45px;height:45px;bottom:0;border-radius:50%;border:1px solid red;}
.solved i{display:block;width:100%;height:100%;background:url(../img/solved.png) no-repeat center;background-size:cover;}
.solved-li{ position:relative;}